<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Login</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<form action="/checkloginDetails" class="positive">
		<h1>Admin Login</h1>
		
		<label for="userId">User Id: </label>
		<input id="userId" name="userId" type="email"/><br><br>
		<label for="password">Password: </label>
		<input id="password" name="password" type="password"/><br><br>
		<button type="submit">Submit</button>
	</form>
	
</body>
</html>