<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Movies</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<form action="/saveMovieDetails" method="post" class="positive">
		<h1>Enter New Movie Details</h1><br>
		<label for="movieId">Enter Movie Id:</label>
		<input id="movieId" type="text" name="movieId"/><br><br>
		
		<label for="movieName">Enter Movie Name:</label>
		<input id="movieName" type="text" name="movieName"/><br><br>
		
		<label for="movieCollection">Enter Movie Collection:</label>
		<input id="movieCollection" type="number" name="collection"/><br><br>
		
		<button type="submit">Submit</button>
	</form>
</body>
</html>